*{
	margin: 0; 
	padding: 0;
	font-family: Arial;
	box-sizing: border-box;
	
}

body {background-color: white;
}

#wrapper {
	max-width: 1920px;
	margin: 0 auto 0 auto;
	background-color: white;
	flex-wrap: wrap;
}
header img {
	width: 100%;
	display: block;
	height: 700px;
}
.home.main p {
	text-align: justify;
	line-height: 25px;
	font-size: 18px;
	padding: 15px 0;
}

nav {
	overflow: hidden;
}

nav a {
	display: inline-block;
	width: 25%;
	color: white;
	text-align: center;
	text-decoration: none;
	background-color: #3399FF;
	padding: 15px 30px;
	font-size: 20px;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

nav a:hover {
		background-color: gold;
}

.active {
	background-color: gold;
}

article {
	margin-top: 30px;
	margin-bottom: 20px;
	padding: 0 20px;
}

article h1{
	font-size: 30px;
	text-align: center;
	margin: 0 10% 20px 10%;
	padding-bottom: 15px;
	border-bottom: 2px solid black;
}

article p {
	text-align: justify;
	line-height: 25px;
	font-size: 18px;
	padding: 20px 0;
	margin: 0 10%;
}

footer {
	height: 40 px;
	background-color: red;
	color: white;
	line-height: 40px;
	text-align: center;
	margin-top: 10px;
}